<!-- <div class="container-fluid">
  <div class="row">
    <h3 class="fw-bold">ng-container</h3>
    <div class="col-12">
      <ng-container *ngIf="show">
        <ng-container *ngFor="let lesson of lessons">
          {{lesson}}
        </ng-container>
      </ng-container>
      <hr>
      @if (show) {
        {{title}}
      }
      <hr>
      @for(lesson of lessons; track lesson) {
        {{lesson}}
      }
    </div>
  </div>
</div> -->


<!-- <ng-template [ngIf]="show" [ngIfElse]="lessonTempRef">
  <div class="row">
    <div class="col-12">
      How it works
    </div>
  </div>
</ng-template>

<div *ngIf="show; else lessonTempRef" class="container-fluid">
  <div class="row">
    <div class="col-12">
      How it works
    </div>
  </div>
</div> -->

<!-- video 108 -->
<!--
<button class="btn btn-primary" (click)="loadTemplate()">Load Template</button>
 <ng-template #lessonTempRef>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        ng-template lesson
      </div>
    </div>
  </div>
</ng-template>

<ng-container #container></ng-container> -->
<!-- video 109  -->
<ng-template #lessonTempRef>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        ng-template lesson
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="lessonTempRef"></ng-container>

<!--  -->
<h1 class="mb-0">Creating Configurable Components with ng-template in Angular</h1>


<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-card [cardBodyTemp]="parentBodyTemp" />
    </div>
  </div>
</div>


<ng-template #parentBodyTemp>
  <div class="card-text">The content from parent component</div>
</ng-template>

<!-- video 113  -->
<h1 class="mb-0">Understanding ngTemplateOutletInjector</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-card [cardBodyTemp]="parentBodyTemp" [cardActionTemp]="cardAction" />
    </div>
  </div>
</div>


<ng-template #parentBodyTemp>
  <div class="card-text">The content from parent component</div>
</ng-template>

<ng-template #cardAction>
  <app-card-actions />
</ng-template>
