.container-outline {
    background-color: #fff;
    border: 1px solid #ddd;
}

.channel-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.title-separator {
    line-height: 1em;
    outline: 0;
    border: 0;
    height: 1.5em;
    opacity: .5;
    &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    }
    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 .5em;
        line-height: 1.5em;
        color: #818078;
        background-color: #ffffff;
    }  
  }