<p #title>explanation works!</p>

<app-single-slot>
  <h2>Single Slot Content Projection</h2>
</app-single-slot>

<app-multi-slot>
  <h2>Multi Slot Content Projection Default</h2>
  <h2 header>Multi Slot Content Projection Header</h2>
  <h2 body>Multi Slot Content Projection Body</h2>
  <h2 footer>Multi Slot Content Projection Footer</h2>
</app-multi-slot>

<app-child *ngIf="isVisible" #child1>
  <div #content>
    My Content For Child One
  </div>
</app-child>
<app-child *ngIf="!isVisible" #child2>
  <div #content>
    My Content For Child Two
  </div>
</app-child>
<button (click)="isVisible=!isVisible;">
  Toggle
</button>

<h1> test content children</h1>
<app-child>
  <dir-course-name name="content 1">content 1</dir-course-name>
  <dir-course-name name="content 2">content 2</dir-course-name>
  <dir-course-name name="content 3">content 3</dir-course-name>
  <!-- need to be nested  -->
  @if (showNested) {
  <app-child>
    <dir-course-name name="content 4">content 4</dir-course-name>
    <dir-course-name name="content 5">content 5</dir-course-name>
  </app-child>
  }
</app-child>
<button (click)="toggleNested()">Toggle Nested</button>
