<!-- <div class="course-card round text-center">
  <div class="fw-bold p-2 course-title">
    Angular For Beginners
  </div>
  <div>
    <img src="https://placehold.co/600x400" alt="Angular For Beginners" class="img-fluid" />
  </div>
  <div class="course-description p-2 text-start">

    Learn Angular from scratch and build your first Angular app with this comprehensive guide.
    This course covers everything from setting up your development environment to building a simple Angular app.
  </div>
</div> -->
<div class="course-card rounded text-center my-2">
  <!--  [ngClass]="'beginner'"
        [ngClass]="'beginner course-card'"
        [ngClass]="['beginner', 'course-card']"
        [ngClass]="{'beginner':true, 'course-card':true}"
        [ngClass]="(true)? 'beginner': 'advanced'"
        [class.beginner]="true"
  -->

  <!--
  [style.color]="'red'"
  [ngStyle]="{'border': '1px solid black'}"
  [ngStyle]="{'color': (true)? 'red': 'black'}"
  -->
  <!-- <div class="fw-bold p-2 course-title">
    {{course.description}}
  </div> -->

  <div>
    <ng-content />
  </div>
  <app-child-view />
  <div class="fw-bold p-2 course-title">
    {{course.name}}
  </div>
  @if(course.imageUrl){
  <img [src]="course.imageUrl" alt="course" class="w-100" />
  }@else {
  <!-- <img src="projects/angular19-startup-project/src/assets/images/angular_for_beginners.png" alt="Angular For Beginners"
    class="img-fluid" /> -->
  <h1>Image not found</h1>
  }
  <!-- old way for if -->
  <!-- <div *ngIf="course.imageUrl; else noImageFound">
    <img [src]="course.imageUrl" alt="course" class="w-100" />
  </div> -->
  <div class="course-description p-2 text-start">
    {{course.longDescription}}
  </div>
  <!-- new way for switch -->
  @switch(course.category){
  @case(CategoryType.beginners){
  <span class="badge bg-warning">Beginners</span>
  }
  @case(CategoryType.intermediate){
  <span class="badge bg-info">intermediate</span>
  }
  @case(CategoryType.advanced){
  <span class="badge bg-success">advanced</span>
  }
  @case(CategoryType.other){
  <span class="badge bg-light">other</span>
  }
  @default {
  <span class="badge bg-danger">other Data</span>}
  }

  <!-- old way for switch -->
  <!-- <div [ngSwitch]="course.category">
    <span *ngSwitchCase="CategoryType.beginners" class="badge bg-warning">Beginners</span>
    <span *ngSwitchCase="CategoryType.intermediate" class="badge bg-info">intermediate</span>
    <span *ngSwitchCase="CategoryType.advanced" class="badge bg-success">advanced</span>
    <span *ngSwitchCase="CategoryType.other" class="badge bg-light">other</span>
    <span *ngSwitchDefault class="badge bg-danger">other Data</span>
  </div> -->
  <div class="p-2">
    <button class="btn btn-primary" (click)="viewCourse()">View Course</button>
  </div>
</div>
<!-- <ng-template #noImageFound>
  <h1>Image not found</h1>
</ng-template> -->